@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
  max-width: 100%;
}

.post {
  overflow-wrap: break-word;
}

.comment_form {
  .avatar {
    float: left;
    margin-right: 10px;
  }
}
