@import "bootstrap-sprockets";
@import "bootstrap";

img {
  max-width: 100%;
}

textarea {
  max-width: 100%;
}

.post {
  overflow-wrap: break-word;
  .media-heading time {
    display: block;
    font-size: .85em;
  }
  .post_content, hr {
    margin: 10px 0;
  }
}

.comment .actions {
  font-size: .85em;
}

.comment_form,
#profile,
.user,
.post .media-heading {
  .avatar {
    float: left;
    margin-right: 10px;
  }
}

#profile {
  margin-bottom: 20px;
}

.nav-tabs {
  border-bottom: 0;
}
