@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
  max-width: 100%;
}

.post {
  overflow-wrap: break-word;
}

.comment_form, #profile, .user {
  .avatar {
    float: left;
    margin-right: 10px;
  }
}

#profile {
  margin-bottom: 20px;
}

.nav-tabs {
  border-bottom: 0;
}
